<h1>Eat a Burger</h1>


<form action="/" method="POST">
     <div class="form-group col-md-4">
    <textarea class="form-control" id="burger-input" rows="3"></textarea>
  </div>
</form>


<button>Submit</button>


